# The current committers own anything that's not explicitly assigned.
* @phenaproxima @tim.plunkett

[installer and infrastructure] @phenaproxima @tim.plunkett
/.ddev/
/drupal_cms_installer/
/drupal_cms_patches/
/.gitlab-ci.yml
/phpunit.xml
/project_template/

[base recipes] @pameeela
/drupal_cms/
/drupal_cms_admin_theme/
/drupal_cms_basic_html_editor/
/drupal_cms_content_type_base/
/drupal_cms_full_html_editor/
/drupal_cms_maintenance/
/drupal_cms_page_content_type/

[blog track] @L_VanDamme
/drupal_cms_blog/

[media track] @tonypaulbarker
/drupal_cms_image_media_type/
/drupal_cms_media_tools/

[events track] @mandclu
/drupal_cms_events/
/drupal_cms_locations/

[accessibility track] @the_g_bomb
/drupal_cms_accessibility_tools/

[multilingual track] @pavlosdan
/drupal_cms_multilingual/

# No track leads identified yet...
# /drupal_cms_anti_spam/
# /drupal_cms_forms/
# /drupal_cms_workflows/

[trial experience track] @mglaman
/trial/
